<div th:fragment="navigator">
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="logo"><img th:src="@{/images/logo.png}"  alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars" style="color: white; font-size: 23px;"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{~/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/home/about}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/home/menu}">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/home/gallery}">Gallery</a>
                    </li>
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" href="#gallary">Gallary</a>-->
                    <!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link"  th:href="@{~/home/contact}">Contact</a>
                    </li>
                    <!--                    <li class="nav-item">-->
                    <!--                        <a class="nav-link" href="#blogs">Blogs</a>-->
                    <!--                    </li>-->




                </ul>

                <a class="fa-solid fa-cart-shopping" id="cartbtn" style="width:40px; height:32px;" th:href="@{~/home/addToCart}"></a>
                <form class="d-flex">

                    <div class="dropdown">

                        <button class="dropbtn imageButton" ><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg></button>

                        <div class="dropdown-content">

                            <a th:href="@{~/home/profile}" class="list-group-item" id="profile">Profile</a>
                            <!--                                <a th:href="@{~/homepage/profile}" class="list-group-item" id="profile">Profile</a>-->
                            <a th:href="@{~/logout}">Logout</a>
                        </div>


                    </div>

                </form>
            </div>
        </div>
    </nav>
</div>