<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Contact</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{~/css/dashstyle.css}">
    <link rel="stylesheet" th:href="@{~/css/navigation.css}">
    <link rel="shortcut icon" type="x-icon" th:href="@{/images/logo.png}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{~/javascript/notification.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/viewCutomerlist.css}">
    <script th:src="@{~/javascript/customer.js}"></script>


    <style>
        .contact_button{
            background-color: #ec89b5;
            color:white;
            font-weight:bold;
            border-radius:20px ;
            padding-top:7px ;
            padding-bottom:7px ;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
        }


    </style>
</head>
<body>
<div th:replace="fragments/AdminFrag.html :: admin_navigation"></div>

<div class="Main-wrapper">
    <div class="wrapper-top">
        <h2>Contact</h2>
    </div>

    <div style="overflow-x:auto;"></div>


</div>

<table class="table table-striped table-class" id= "table-id">

        <thead>
        <tr>
            <th>Contact_Id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Subject</th>
            <th>Action</th>
            <th>Action</th>
            <!--            <th>Action</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:each="cab:${contactlist}">
            <td th:text="${cab.id}"></td>
            <td th:text="${cab.fullname}"></td>
            <td th:text="${cab.email}"></td>
            <td th:text="${cab.message}"></td>
            <td th:text="${cab.subject}"></td>
            <td> <a class="contact_button" href="" >Contact</a></td>
            <td> <a class=" contact_button" th:href="@{~/admin/deleteCon/}+${cab.id}" >Delete</a></td>


       </tr>
    </tbody>

   </table>





</body>
</html>

