:root{
    font-size: 100%;
    font-size: 16px;
    line-height:1.5;

}
body{
    display: flex;
}
.main{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(231, 189, 190));
}
.left{
    text-align: right;
    height: 100%;
    width: 70%;
    border-radius: 10px;
    margin-top: 2%;
}
.left .img{
    height:50%;
    width: 90%;
}
.right{
    height: 100%;
    width:100%;
    border-radius: 0px;
}

.right .h3{
    align-items: center;
    margin-top: 1%;
    margin-left: 22%;
    /*border-radius: ;*/
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #b2744c;
}
 .name,.email,.password,.number{
    margin-left: 22%;
    display: block;
    width: 52%;
    box-sizing: border-box;
    padding: 1em;
    margin-bottom: 1.25rem;
    margin-top: 1%;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 10px;
    outline: none;
    background: #e3a5a7;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
}
.name::placeholder{
    color: whitesmoke;


}
.email::placeholder{
    color: whitesmoke;

}
.password::placeholder{
    color: whitesmoke;

}
.number::placeholder{
    color: whitesmoke;

}
.right .Submit{
    margin-left: 30%;
    display: block;
    width: 35%;
    background: white;
    border: 2px solid  #EA89B4;
    color: #EA89B4;
    border-radius: 5px;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 8px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-bottom: 1%;
}
.Submit:hover{
    background:#9b5d29;
    color: whitesmoke;
    cursor: pointer;
    border: none;
}

.right .login-content{

    text-align: center;
    font-size: 16px;
    color: #9b5d29;
    text-decoration: none;

}
.right .login-content a{
    font-size: 15px;

    text-decoration: none;
    font-family: 'Merriweather', serif;


    font-style: normal;
    font-weight: 500;

    line-height: 13px;
    text-align: center;
    color: #b2744c;
    text-decoration: underline;
}
.right .login-content a:hover{

    color:#EA89B4;
}
@media (max-width:1024px){
    .main{
        margin-top: 15%
    }
}


@media (max-width:692px)  {
    .main{
        display: flex;
        height: 100%;
        width: 100%;
        margin-top: 5%;
    }
    .left{
        /* height: 100%;
        width: 100%;
        margin-top: 10%;
        margin-left: 1%; */
        display: none;
    }
    .img{
        display: none;
    }
    .right{
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 0px;
        background: #FFFFFF;
    }
}

@media (max-width:552px)  {
    .main{
        flex-direction: column;
        margin-top: 10%;
        margin-left: 10%;
        height: 100%;
        width: 100%;
        justify-items: center;
    }
    .left{
        display: none;
    }
    .img{
        display: none;
    }
    .right{
        height: 100%;
        width: 100%;
        border-radius: 0px;
        background: #FFFFFF;
    }
}

@media (max-width:320px) {
    .main{
        margin-top: 50%;
    }
}